<div>
  <h3><%= User.find(params[:id]).name %></h3>
  <%= image_tag User.find(params[:id]).get_profile_image(100,100) %>
  <% if @user == session[:user_id] %> 
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<%= render 'post_images/list', post_images: @post_images %>